body {
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  overflow-x: hidden;
}
   /* header */
.header {
  margin: 30px 0px;
}

.left {
  /* border: 2px solid red; */
  display: inline-block;
  position: absolute;
  top: 10.5px;
  left: 70px;
  width: 92px;
  height: 30px;
}

.mid {
  display: block;
  width: 40%;
  margin: -25.5px 440.5px;
  /* border: 2px solid rgb(29, 18, 18); */
  top: 21px;
  left: 70px;
  height: 30px;
  
}

.right {
  /* border: 2px solid rgb(14, 180, 41); */
  display: inline-block;
  position: absolute;
  right: 34px;
  top: 10.5px;
}
.img1 {
  top: 21px;
  left: 70px;
  width: 92px;
  height: 30px;
  background: transparent url("img/Group 39704.png") 0% 0% no-repeat padding-box;
  opacity: 1;
}
    /* Navigation bar */
.navbar {
  display: inline-block;
}
.navbar li {
  display: inline-block;
}
.navbar li a {
  text-decoration: none;
  padding: 20px 24px;
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 400;
  text-align: left;
  letter-spacing: -0.84px;
  color: rgba(28, 73, 97, 1);
  opacity: 0.75;
}
.navbar li a:hover,
.navbar li a.active {
  font-weight: 600;
  color: black;
}
.btn {
  background: #4468e2;
  color: white;
  text-align: center;
  font: normal normal normal 19px/26px Proxima Nova Alt;
  border: none;
  letter-spacing: -0.72px;
  color: rgba(255, 255, 255, 1);
  opacity: 1;
  top: 21px;
  left: 1765px;
  width: 75px;
  height: 30px;
  border-radius: 14px;
  font-size: 15px;
  margin: 0px 5px;
  cursor: pointer;
}

/* Banner section */
.HomeImg {
  width: 1253px;
  margin: 15px 60px;
  border-radius: 18px;
  filter: brightness(76%);
  position: relative;
  text-align: center;
  color: white;
}
.divImg {
  position: relative;
  text-align: center;
  color: white;
}
.center {
  position: absolute;
  top: 100px;
  left: 425px;
  font-size: 50px;
  text-align: left;
  font: normal normal bold 50px/61px Montserrat;
  letter-spacing: 0px;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  opacity: 1;
  font-family: proxima-nova, sans-serif;
  font-style: normal;
}
.para {
  color: white;
  position: absolute;
  top: 157px;
  left: 498px;
  font-size: 22px;
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  line-height: 33px;
}
#rectangle {
  width: 876px;
  height: 89px;
  background: white;
  position: absolute;
  top: 270px;
  left: 267px;
  opacity: 1;
  border-radius: 10px;
}
.btn1 {
  color: black;
  background: #6e6ee3;
  color: white;
  text-align: center;
  font: normal normal normal 19px/26px Proxima Nova Alt;
  border: none;
  letter-spacing: -0.72px;
  color: rgba(255, 255, 255, 1);
  opacity: 1;

  top: 448px;
  left: 1198px;
  width: 187px;
  height: 63px;
  border-radius: 10px;
  margin: 13px 0px 0px 657px;
  cursor: pointer;
}
.buttonsidetext1 {
  top: 452px;
  left: 546px;
  width: 191px;
  height: 27px;
 
  text-align: left;
  font: normal normal 600 20px/27px Proxima Nova Alt;
  letter-spacing: -0.76px;
  color: #151515;
  opacity: 1;
  margin: -62px 0px 0px 24px;
  
}

.search {
  top: 482px;
  left: 566px;
  width: 148px;
  height: 21px;
  text-align: left;
  font: normal normal normal 16px/21px Proxima Nova Alt;
  letter-spacing: 0px;
  color: lightgray;
  opacity: 0.8;
  margin: 0px 26px;
}
.vl {
  border-right: 1px solid #bdd5bd;
  height: 54.88px;
  margin: -46px 222px;
}
.buttonsidetext2 {
  top: 452px;
  left: 546px;
  width: 191px;
  height: 27px;
  text-align: left;
  font: normal normal 600 20px/27px Proxima Nova Alt;
  letter-spacing: -0.76px;
  color: black;
  opacity: 1;
  margin: -57px 0px 0px 265px;
}
.buttonsidetext3 {
  top: 452px;
  left: 546px;
  width: 191px;
  height: 27px;
  text-align: left;
  letter-spacing: 0.24px;
  color: lightgray;
  opacity: 1;
  margin: -2px 0px 0px 272px;
  font-size: 16px;
}
.buttonsidetext4 {
  top: 452px;
  left: 546px;
  width: 191px;
  height: 27px;
  text-align: left;
  font: normal normal 600 20px/27px Proxima Nova Alt;
  letter-spacing: 0.24px;
  color: black;
  opacity: 1;
  margin: -52px 0px 0px 435px;
  font-size: 20px;
}
.buttonsidetext5 {
  top: 452px;
  left: 546px;
  width: 191px;
  height: 27px;
  text-align: left;
  letter-spacing: 0.24px;
  color: lightgray;
  opacity: 1;
  margin: -1px 0px 0px 448px;
  font-size: 16px;
}
.vl-1 {
  border-right: 1px solid #bdd5bd;
  height: 54.88px;
  margin: -50px 388px;
}
#rectangle1 {
  width: 255px;
  height: 215px;
  background-color: white;
  margin: 130px 0px 0px 59px;
  border-radius: 10px;
  opacity: 1;
  box-shadow: 10px 40px 50px #e5e9f666;
  /* border: 2px solid darkred; */
  display: inline-block;
}
.imglogo1 {
  width: 100px;
  height: 95px;
  margin: 0px 0px 0px 5px;
}
.imgtext1 {
  top: 993px;
  left: 96px;
  width: 154px;
  height: 32px;
  text-align: left;
  font: normal normal 600 24px/32px Proxima Nova Alt;
  letter-spacing: -0.91px;
  color: #0f0f0f;
  opacity: 1;
  margin: -6px 0px 0px 10px;
}
.para1 {
  top: 1048px;
  left: 96px;
  width: 275px;
  height: 81px;
  text-align: left;
  font: normal normal normal 20px/27px Proxima Nova Alt;
  letter-spacing: -0.76px;
  color: #0f0f0f;
  opacity: 1;
  margin: 0px 0px 0px 10px;
  line-height: 1.25;
}
.middle {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
#rectangle2 {
  top: 856px;
  left: 540px;
  width: 255px;
  height: 215px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 10px 40px 50px #e5e9f666;
  opacity: 1;
  display: inline-block;
  margin: 0px 0px 0px 74px;
  /* border: 10px solid black; */
  border-radius: 10px;
  /* border: 2px solid red; */
}
.imglogo2 {
  width: 100px;
  height: 95px;
  margin: 0px 0px 0px 5px;
}
.imgtext2 {
  width: 154px;
  height: 32px;
  text-align: left;
  font: normal normal 600 24px/32px Proxima Nova Alt;
  letter-spacing: -0.91px;
  color: #0f0f0f;
  opacity: 1;
  margin: -8px 0px 0px 10px;
}
.para2 {
  top: 1048px;
  left: 96px;
  width: 275px;
  height: 81px;
  text-align: left;
  font: normal normal normal 20px/27px Proxima Nova Alt;
  letter-spacing: -0.76px;
  color: #0f0f0f;
  opacity: 1;
  margin: 1px 0px 0px 12px;
  line-height: 1.25;
}

#rectangle3 {
  width: 255px;
  height: 215px;
  background-color: white;
  /* top: inherit; */
  /* left: 36px; */
  margin: 130px 0px 0px 59px;
  border-radius: 10px;
  opacity: 1;
  box-shadow: 10px 40px 50px #e5e9f666;
  /* border: 2px solid darkred; */
  display: inline-block;
}
.imglogo3 {
  width: 100px;
  height: 95px;
  margin: 0px 0px 0px 5px;
}
.imgtext3 {
  width: 171px;
  height: 32px;
  text-align: left;
  font: normal normal 600 24px/32px Proxima Nova Alt;
  letter-spacing: -0.91px;
  color: #0f0f0f;
  opacity: 1;
  margin: -7px 0px 0px 12px;
}
.para3 {
  top: 1044px;
  left: 1042px;
  width: 324px;
  height: 54px;
  /* UI Properties */
  text-align: left;
  font: normal normal normal 20px/27px Proxima Nova Alt;
  letter-spacing: -0.76px;
  color: #0f0f0f;
  opacity: 1;
  margin: 3px 0px 0px 13px;
  line-height: 1.25;
}

#rectangle4 {
  width: 255px;
  height: 215px;
  background-color: white;
  /* top: inherit; */
  /* left: 36px; */
  margin: 130px 0px 0px 59px;
  border-radius: 10px;
  opacity: 1;
  box-shadow: 10px 40px 50px #e5e9f666;
  /* border: 2px solid darkred; */
  display: inline-block;
}
.imglogo4 {
  width: 100px;
  height: 95px;
  margin: 0px 0px 0px 5px;
}
.imgtext4 {
  width: 233px;
  height: 32px;
  text-align: left;
  font: normal normal 600 24px/32px Proxima Nova Alt;
  letter-spacing: -0.91px;
  color: #0f0f0f;
  opacity: 1;
  margin: -9px 0px 0px 12px;
}
.para4 {
  margin: 5px 0px 0px 14px;
  top: 1044px;
  left: 1505px;
  width: 312px;
  height: 54px;
  text-align: left;
  font: normal normal normal 20px/27px Proxima Nova Alt;
  letter-spacing: -0.76px;
  color: #0f0f0f;
  opacity: 1;
  line-height: 1.25;
}


h1 {
  text-align: center;
  font-size: 40px;
  font: normal normal bold 40px/53px Proxima Nova Alt;
  text-transform: capitalize;
  top: 1386px;
  margin: 237px 0px 50px 0px;
}
.listitems ul li {
  list-style-type: none;
  margin: 12px auto;
  width: 33%;
  display: inline;
  font: normal normal 600 26px/35px Proxima Nova Alt;
  padding-inline-start: 78px;
  letter-spacing: -0.099px;
  cursor: pointer;
}
.listitems ul li:hover,
.listitems ul li.active {
  text-decoration: underline;
  text-underline-offset: 10px;
}
hr {
  width: 399px;
  width: 1150px;
  margin: -12px 0px 0px 116px;
}

.middle3 {
  display: flex;
}
 /* Tour Plan */
.Singapore {
  width: 350px;
  height: 265px;
  margin: 45px 0px 0px 64px;
 
  box-shadow: 0px 0px 0px #00000029;
  border-radius: 15px;
  opacity: 1;
}
.Singapore-text1 {
  top: 2040px;
  left: 64px;
  width: 163px;
  height: 51px;
  
  text-align: left;
  font: normal normal 600 38px/51px Proxima Nova Alt;
  letter-spacing: -1.44px;
  color: #163235;
  opacity: 1;
  margin: -5px 0px 0px 66px;
}
.Singapore-text2 {
  top: 2105px;
  left: 64px;
  width: 552px;
  height: 66px;
  color: var(--unnamed-color-163235);
  text-align: left;
  font: normal normal normal 26px/35px Proxima Nova Alt;
  letter-spacing: -0.99px;
  color: #163235;
  opacity: 1;
  margin: -3px 0px 0px 68px;
}

.Thailand {
  width: 350px;
  height: 265px;
  margin: 45px 0px 0px 64px;
  box-shadow: 0px 0px 0px #00000029;
  border-radius: 15px;
  opacity: 1;
  margin: 45px 0px 0px -155px;
}
.Thailand-text1 {
  top: 2040px;
  left: 64px;
  width: 163px;
  height: 51px;
  /* color: var(--unnamed-color-163235); */
  text-align: left;
  font: normal normal 600 38px/51px Proxima Nova Alt;
  letter-spacing: -1.44px;
  color: #163235;
  opacity: 1;
  margin: -5px 0px 0px -146px;
}
.Thailand-text2 {
  top: 2105px;
  left: 64px;
  width: 552px;
  height: 66px;
  color: var(--unnamed-color-163235);
  text-align: left;
  font: normal normal normal 26px/35px Proxima Nova Alt;
  letter-spacing: -0.99px;
  color: #163235;
  opacity: 1;
  margin: -3px 0px 0px -141px;
}

.Paris {
  width: 350px;
  height: 265px;
  margin: 45px 0px 0px 64px;
  /* url('img/Singapore.png') 0% 0% no-repeat padding-box: ; */
  box-shadow: 0px 0px 0px #00000029;
  border-radius: 15px;
  opacity: 1;
  margin: 45px 0px 0px -155px;
}
.Paris-text1 {
  top: 2040px;
  left: 64px;
  width: 163px;
  height: 51px;
  /* color: var(--unnamed-color-163235); */
  text-align: left;
  font: normal normal 600 38px/51px Proxima Nova Alt;
  letter-spacing: -1.44px;
  color: #163235;
  opacity: 1;
  margin: -5px 0px 0px -146px;
}
.Paris-text2 {
  top: 2105px;
  left: 64px;
  width: 552px;
  height: 66px;
  color: var(--unnamed-color-163235);
  text-align: left;
  font: normal normal normal 26px/35px Proxima Nova Alt;
  letter-spacing: -0.99px;
  color: #163235;
  opacity: 1;
  margin: -5px 0px 0px -146px;
}
.wallpaper1 {
  width: 635px;
  height: 415px;
  margin: 76px -78px -417px 10px;
}
.wallpaper img {
  width: 604px;
  height: 203px;
  margin: 0px 0px 0px 648px;
  /* margin: 0px 0px 0px 32px; */
}
#rectangledown {
  width: 512px;
  height: 202px;
  background-color: white;
  /* top: inherit; */
  /* left: 36px; */
  margin: 130px 0px 0px 59px;
  border-radius: 10px;
  opacity: 1;
  box-shadow: 10px 40px 50px #e5e9f666;
  /* border: 2px solid darkred; */
  display: inline-block;
}
#rectangledown1 {
  width: 512px;
  height: 202px;
  background-color: white;
  /* top: inherit; */
  /* left: 36px; */
  margin: 130px 0px 0px 129px;
  border-radius: 10px;
  opacity: 1;
  box-shadow: 10px 40px 50px #e5e9f666;
  /* border: 2px solid darkred; */
  display: inline-block;
}
.container1{
  margin: -130px 15px 0px 15px;
}
p {
  top: 4418px;
  left: 165px;
  width: 647px;
  height: 196px;
  text-align: left;
  font: normal normal normal 26px/41px Proxima Nova Alt;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  margin: 36px 0px 0px 190px;
}

/* Footer section */
.footer{
  top: 4967px;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 178px;
  background: #E1E8F8 0% 0% no-repeat padding-box;
  border-radius: 18px;
  opacity: 1;
  text-align: center;
  margin: 175px 0px 0px 0px;
  display: flex;
    justify-content: flex-start;
}
.footerpara{
  padding: 72px 0px;
    margin: 0px 0px 0px 32px;
}


.logofb{
  width: 44px;
  height: 44px;
  margin: 72px -15px 0px 581px;
}